* {
  font-family: "Raleway", sans-serif;
  color: rgb(227, 230, 223);
  max-width: 1400px;
  text-align: center;
}

.container {
  background-color: rgb(77, 132, 93);
  max-width: 800px;
  height: 700px;
  padding: 20px;
  margin: 0 auto;
}

.inputs-container {
  font-size: 20px;
  font-weight: bolder;
  padding-top: 15px;
}

.height__inputs-container,
.weight__inputs-container {
  color: rgb(26, 45, 32);
  font-size: 25px;
}

.submit-button {
  color: rgb(26, 45, 32);
  font-weight: bolder;
  font-size: 20px;
  background-color: rgb(237, 185, 87);
  min-width: 250px;
  min-height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  border: 0px;
}

.submit-button:hover {
  color: aliceblue;
  background-color: rgb(26, 45, 32);
  cursor: pointer;
}
